<!doctype html>
<html lang="en">

{% include "header.html" %}


<body>


    <main role="main" class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-3">
                    <h2>Categories</h2>
                    {% for c in categories %}
                    <a href="{{url_for('categoryItems', category_name=c.name)}}">
                        <h4>{{c.name}}</h4>
                    </a>
                    {% endfor %}
                </div>
                <div style="border-left:1px solid rgb(124, 124, 124);height:box-sizing"></div>

                <div class="col-8">
                    <a href="{{url_for('addItem')}}">Add Item</a> |
                    <a href="{{url_for('gdisconnect')}}">Logout</a>
                    <h2>Latest Items</h2>
                    {% for l in latest %}
                    <a href="{{url_for('itemInfo', item_id=l.id)}}">
                        <h4>{{l.name}}</h4>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</body>

</html>