<!doctype html>
<html lang="en">

{% include "header.html" %}

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Catalog App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <main role="main" class="container">
        <div class="jumbotron">
            <form action="{{ url_for('editItem', item_id=item.id) }}" method='post'>
                <dl>
                    <dt>Name:</dt>
                    <dd><input type='text' size='30' name='name' placeholder={{item.name}}></dd>
                    <dt>Description:</dt>
                    <dd><textarea name='description' rows='5' cols='40' placeholder={{item.description}}></textarea>
                    </dd>
                    <dt>Category:</dt>
                    <dd><select name='category'>
                            {% for c in categories %}
                            <option {% if c.name == item.category_name %} selected="selected" {% endif %}>{{c.name}}
                            </option>
                            {% endfor %}
                        </select></dd>
                </dl>
                <input type='submit' value='Edit'>
            </form>
        </div>
    </main>
</body>

</html>