<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Catalog</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            min-height: 75rem;
            padding-top: 4.5rem;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Catalog App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <main role="main" class="container">
        <div class="jumbotron">
            <form action="{{ url_for('editItem', item_id=item.id) }}" method='post'>
                <dl>
                    <dt>Name:</dt>
                    <dd><input type='text' size='30' name='name' placeholder={{item.name}}></dd>
                    <dt>Description:</dt>
                    <dd><textarea name='description' rows='5' cols='40' placeholder={{item.description}}></textarea>
                    </dd>
                    <dt>Category:</dt>
                    <dd><select name='category'>
                            {% for c in categories %}
                            <option {% if c.name == item.category_name %} selected="selected" {% endif %}>{{c.name}}
                            </option>
                            {% endfor %}
                        </select></dd>
                </dl>
                <input type='submit' value='Edit'>
            </form>
        </div>
    </main>
</body>

</html>