<!doctype html>
<html lang="en">

{% include "header.html" %}

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Catalog App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <main role="main" class="container">
        <div class="jumbotron">
            <dl>
                <dt>Name:</dt>
                <dd>{{item.name}}</dd>
                <dt>Description:</dt>
                <dd>{{item.description}}</dd>
                <dt>Category:</dt>
                <dd><a href="{{url_for('categoryItems', category_name=item.category_name)}}">{{item.category_name}}</a>
                </dd>
            </dl>
            <hr>
            <a href="{{url_for('editItem', item_id=item.id)}}">Edit</a>
            |
            <a href="{{url_for('deleteItem', item_id=item.id)}}">Delete</a>
        </div>
    </main>
</body>

</html>