<!doctype html>
<html lang="en">

{% include "header.html" %}

<body>

    <main role="main" class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-3">
                    <h2>Categories</h2>
                    {% for c in categories %}
                    <a href="{{url_for('categoryItems', category_name=c.name)}}">
                        <h4>{{c.name}}</h4>
                    </a>
                    {% endfor %}
                </div>
                <div style="border-left:1px solid rgb(124, 124, 124);height:box-sizing"></div>

                <div class="col-8">
                    <a href="{{url_for('showLogin')}}">Login</a>
                    <h2>{{ category_name }}</h2>
                    {% for i in items %}
                    <a href="{{url_for('itemInfo', item_id=i.id)}}">
                        <h4>{{i.name}}</h4>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</body>

</html>